{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block sidebar %}
{% include "partials/sidebar.html" %}
{% endblock %}

{% block content %}
<article class="section-page">
    <header class="section-page__header">
        <div class="section-page__label">[ SECTION ]</div>
        <h1>{{ section.title }}</h1>
        {% if section.description %}
        <p class="section-page__description">{{ section.description }}</p>
        {% endif %}
    </header>

    {% if section.content %}
    <div class="section-page__content">
        {{ section.content | safe }}
    </div>
    {% endif %}

    {% if section.pages %}
    <div class="section-page__list">
        <div class="section-page__list-label">[ PAGES ]</div>
        <ul class="page-list">
            {% for page in section.pages %}
            <li class="page-list__item">
                <a href="{{ page.permalink | safe }}" class="page-list__link">
                    <span class="page-list__title">{{ page.title }}</span>
                    {% if page.description %}
                    <span class="page-list__description">{{ page.description }}</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {# Subsections #}
    {% if section.subsections %}
    {% for subsection_path in section.subsections %}
    {% set subsection = get_section(path=subsection_path) %}
    <div class="section-page__subsection">
        <div class="section-page__list-label">[ {{ subsection.title | upper }} ]</div>
        <ul class="page-list">
            {% for page in subsection.pages %}
            <li class="page-list__item">
                <a href="{{ page.permalink | safe }}" class="page-list__link">
                    <span class="page-list__title">{{ page.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
    {% endif %}
</article>
{% endblock %}
